<AbsoluteLayout width="100%" height="100%" class="login-page">
  <Image width="100%" height="100%" stretch="fill" left="0" top="0" class="bg-image" src="~/assets/images/login.jpg"></Image>
  <StackLayout width="100%" class="login-logo">
    <Image horizontalAlignment="center" src="~/assets/images/culture-icon.png" width="100" height="100" class="img-rounded"></Image>
    <Label horizontalAlignment="center" text="Culture" textWrap="true" class="header-label"></Label>
    <Label horizontalAlignment="center" text="Events search ends here" textWrap="true" class="subheader-label"></Label>
  </StackLayout>
  <StackLayout width="100%" class="social-login">
    <StackLayout horizontalAlignment="center" orientation="horizontal" class="button-facebook" (tap)="doLoginByFacebook()">
      <Image horizontalAlignment="right" src="~/assets/images/fb.png" width="30" height="30" class="img-rounded fb-icon"></Image>
      <Label horizontalAlignment="center" text="Login with Facebook" textWrap="true" class="label-layout"></Label>
    </StackLayout>
    <StackLayout horizontalAlignment="center" orientation="horizontal" class="button-twitter">
      <Image horizontalAlignment="right" src="~/assets/images/twitter.png" width="30" height="30" class="img-rounded twitter-icon"></Image>
      <Label horizontalAlignment="center" text="Login with Twitter" textWrap="true" class="label-layout"></Label>
    </StackLayout>
  </StackLayout>
</AbsoluteLayout>