.login-page {
    margin-top: 0%;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.social-login {
    margin-top: 75%;
}

.button-facebook {
    height: 50;
    width: 300;
    z-index: 1000;
    margin: 10 15 5 15;
    border-radius: 35;
    background-color: #2b4170;
    border: 1px solid #2b4170;
    text-shadow: 0 -1px -1px #1f2f52;
}

.fb-icon {
    background-color: white;
    margin-left: 10;
    margin-right: 10;
    border-radius: 50%;
}

.button-twitter {
    height: 50;
    width: 300;
    z-index: 1000;
    margin: 5 15 15 15;
    border-radius: 35;
    background-color: #0081ce;
    border: 1px solid #0081ce;
    text-shadow: 0 -1px -1px #005ea3;
}

.twitter-icon {
    background-color: white;
    margin-left: 0%;
    margin-right: 20;
    border-radius: 50%;
}

.label-layout {
    font-family: 'EK03Serif-M01';
    margin: 10 10 10 10;
    font-size: 22;
    color: #f5f5f9;
    text-transform: none;
}

.login-logo {
    margin-top: 10%;
}

.header-label {
    font-family: 'EK03Serif-B01';
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 47;
    font-weight: 500;
    color: #f5f5f9;
    text-transform: none;
}

.subheader-label {
    font-family: 'EK03Serif-M01';
    margin-top: -5;
    font-size: 25;
    color: #f5f5f9;
    text-transform: none;
}